@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    color-scheme: light;
}


body {
    background-color: #F5F5F5;
    /* @apply bg-gray-50 */
}

.logo {
    text-shadow: 5px 0 rgba(192, 192, 231, 0.589);
    user-select: none;
}

.swiper-container {
    z-index: -1 !important;
}

.swiper-wrapper {
    z-index: -1 !important;
}

.swiper {
    z-index: -1 !important;
}